# LangChain Core
langchain
langchain-core
streamlit
typing
numpy_financial
langchain_groq
langgraph.graph

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy

